@model List<Skill>

<div class="container-xxl py-6 pb-5" id="skill">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-5"></h1>
                <p class="mb-4">Stet no et lorem dolor et diam, amet duo ut dolore vero eos. No stet est diam rebum amet diam ipsum clita dolor duo clita sit.</p>
                <h3 class="mb-4">Yeteneklerim</h3>
                <div class="row align-items-center">
                    <div class="col-md-6">
                        @foreach (var item in Model.Take(3))
                        {
                            string progressBarColor = "";

                            if (item.SkillValue <= 30)
                            {
                                progressBarColor = "bg-danger"; // Kırmızı
                            }
                            else if (item.SkillValue > 30 && item.SkillValue <= 50)
                            {
                                progressBarColor = "bg-warning"; // Turuncu
                            }
                            else if (item.SkillValue > 50 && item.SkillValue <= 70)
                            {
                                progressBarColor = "bg-yellow"; // Sarı
                            }
                            else if (item.SkillValue > 70 && item.SkillValue <= 90)
                            {
                                progressBarColor = "bg-info"; // Mavi
                            }
                            else
                            {
                                progressBarColor = "bg-success"; // Yeşil
                            }


                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">@item.SkillName</h6>
                                    <h6 class="font-weight-bold">@item.SkillValue%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar @progressBarColor" role="progressbar" aria-valuenow="@item.SkillValue" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-md-6">
                        @foreach (var item in Model.Skip(Model.Count - 3))
                        {
                            string progressBarColor = "";

                            if (item.SkillValue <= 30)
                            {
                                progressBarColor = "bg-danger"; // Kırmızı
                            }
                            else if (item.SkillValue > 30 && item.SkillValue <= 50)
                            {
                                progressBarColor = "bg-warning"; // Turuncu
                            }
                            else if (item.SkillValue > 50 && item.SkillValue <= 70)
                            {
                                progressBarColor = "bg-yellow"; // Sarı
                            }
                            else if (item.SkillValue > 70 && item.SkillValue <= 90)
                            {
                                progressBarColor = "bg-info"; // Mavi
                            }
                            else
                            {
                                progressBarColor = "bg-success"; // Yeşil
                            }


                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">@item.SkillName</h6>
                                    <h6 class="font-weight-bold">@item.SkillValue%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar @progressBarColor" role="progressbar" aria-valuenow="@item.SkillValue" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
