@model List<Contact>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>Index</h1>
<table class="table table-bordered">
    <tr>
        <th>Numara</th>
        <td>#</td>
        <th>Gönderen Ad Soyad</th>
        <th>Gönderen Mail</th>
        <th>Konu</th>
        <th>Mesaj</th>
        <th>Kategori</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.ContactID</td>
            <td>@item.NameSurname</td>
            <td>@item.EMail</td>
            <td>@item.Subject</td>
            <td>@item.Message</td>
            <td>@item.MessageCategoryID</td>
            <td><a href="/Contact/DeleteContact/@item.ContactID" class="btn btn-danger">Sil</a></td>

        </tr>
    }
</table>

