@model List<Register>
@{
    ViewData["Title"] = "RegiserList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>Admin Listeleme Sayfası</h1>

<table class="table table-bordered">
    <tr>
        <th>Numara</th>
        <td>#</td>
        <th>ad Soyad</th>
        <th>E Mail</th>
        <th>Şifre</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.RegisterID</td>
            <td>@item.NameSurname</td>
            <td>@item.EMail</td>
            <td>@item.Password</td>
            <td><a href="/_RegisterAndLoginLayout/DeleteRegister/@item.RegisterID" class="btn btn-danger">Sil</a></td>
            <td><a href="/_RegisterAndLoginLayout/UpdateRegister/@item.RegisterID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/_RegisterAndLoginLayout/CreateRegister">Yeni Referans Girişi</a>